<h1>Poker Game</h1>

<% generate_deck_of_cards %>

<% shuffle_cards %>

<% flop = deal_flop
    flop.each do |card|%>
      <%=image_tag("cards_png/#{card[1]}#{card[0]}.png") %>
    <%end%>

<% @pokerdeck.length %>

<% turn = deal_turn %>
<%=image_tag("cards_png/#{turn[1]}#{turn[0]}.png") %>

<% river = deal_river %>
<%=image_tag("cards_png/#{river[1]}#{river[0]}.png") %>